<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="colorfondo" value="Yellow"/>
  </appSettings>
  <connectionStrings>
    <add name="conexionhospital"
          connectionString="Data Source=LOCALHOST;Initial Catalog=HOSPITAL;Persist Security Info=True;User ID=SA;Password=MCSD2020"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>